<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="bg-dark">
        <div class="sidebar-header">
            <h3>Каталог</h3>
        </div>

        <ul class="list-unstyled components">
            <li *ngFor="let category of categories">
                <a [routerLink]="category.id +''" [title]="category.description">{{category.name}}</a>
            </li>
            <li>
                <a href="javascript:" (click)="openNewCategoryModal()"><i class="bi bi-plus-lg me-2"></i>Новая категория</a>
            </li>
        </ul>
    </nav>
</div>