<div class="container">
    <table class="table table-striped m-4">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td class="align-middle">{{product.name}}</td>
                <td><a class="fs-4" routerLink="/products/{{product.id}}"><i class="bi bi-pencil-square"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>